@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    background: #f9f9f9;
}

.app_container {
    margin-top: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
}